.menu {
    width: 40px;
    height: 150px;
}

.avatar {
    width: 123px;
    height: 123px;
    border-radius: 16px;
}

.name {
    font: 500 32px/32px 'Golos UI', Arial, sans-serif;
    letter-spacing: -0.25px;
    width: 361;
    height: 32;
    color: #222222;

}

.note {
    font: 400 15px/18px 'Golos UI', Arial, sans-serif;
    letter-spacing: -0.15px;
    width: 361;
    height: 36;
    color: #222222;
}

.icon {
    width: 16;
    height: 16;
}

.count-posts {
    font: 400 15px/18px 'Golos UI', Arial, sans-serif;
    letter-spacing: -0.15px;
    width: 101px;
    height: 30px;
    color:#222222;
    background-color: #F2F3F5;
    border-radius: 6px;
    border-width: 0px;
    text-align: right;
    display: inline;
}

.images-posts {
    width: 992px;
    height: 1622px;
}


